@charset "utf-8";

h1 {
  color: red;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, Helvetica, sans-serif;
  background: #f1f1f1;
}
.getUser {
  margin-left: 50px;
  margin-right: 50px;
}
.form-control {
  width: 300px;
}
.gradient-custom {
  background: #f093fb;
  background: -webkit-linear-gradient(to bottom right, rgb(147, 189, 251), rgb(87, 245, 206));
  background: linear-gradient(to bottom right, rgb(41, 37, 235), rgb(148, 87, 245));
  font-size: 14px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.error-pwd {
  display: none;
}
.error-pwd.active {
  color: red;
  display: block;
}
.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}